		body{			
			background: url(../images/login-bg.jpg) repeat;	
		}
		
		.border{
			margin-left: 30%;
			margin-top: 5%;
		    border-radius: 27px;
		    padding: 10px;
			text-align: center;
			width: 40%;	
			box-shadow: 0 25px 53px 9px rgba(0,0,0,.77), inset 0 -1px 0 0 #2d3238;
		}
		.content{
		    background-color: #dde7e9;
			border-radius: 17px;			
			position: relative;
			overflow-y: auto;
			height: 430px;
		}
		
		.divtable{
			border: 1px solid black;
			border-radius: 17px;
			
		}		
		.table_blur {
			border-collapse: collapse;		
			margin: auto;
			width: 100%;
		}		
		td{			
			padding: 10px;
		}
		td:nth-child(1n+2){			
			border-left: 1px solid black;
		}
		tr:nth-last-child(1n+2){		
			border-bottom: 1px solid black;
		}
		th{			
			padding: 10px;
			border-bottom: 1px solid black;			
		}
		th:nth-child(1n+2){			
			border-left: 1px solid black;
		}
		textarea{
			border-radius: 9px;
			margin-top: 20px;
		}
		input{
			border-radius: 5px;
		}
